* {
    box-sizing: border-box;
}

html{
    overflow-x:hidden;
    height: 100%;
}

body {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(69, 251, 252, 1) 100%);
    text-align: center;
}

header{
    background-color: rgb(14, 17, 17);
    margin-bottom: 2rem;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7rem;
    height: 450px;
    margin-bottom: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    gap: 2rem;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

h2 {
    color: red;
    margin-top: 80px;
    margin-bottom: 10px;
}

.floor {
    background-color: rgb(131, 122, 122);
    width: 30px;
    height: 30px;
}

.board {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    width: 400px;
}

th,
td {
    padding: 1px;
    text-align: center;
    cursor: pointer;
}

td:hover {
    background-color: #971010;
}


.smile{
    margin: 0;
    cursor: pointer;
    font-size: 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h3 {
    height: 3rem;
    font-family: 'Mallanna', sans-serif;
    margin: 0;
}

.level{
    display: flex;
    gap: 2rem;
}


.level-btn {
    padding: 0;
    width: 100px;
    height: 35px;
    color: rgb(175, 109, 109);
    font-size: 15px;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    outline: none;
    
}

.level-btn:hover{
    background-color: lightgray;
}

footer{
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: black;
}

footer p{
    margin: 4px;
}

@media (max-width: 600px) {
    .board{
        padding: 0;
    }

    main{
        height: 324px;
        gap: 3rem;
        margin-bottom: 3rem;
    }

    footer{
        bottom: -274px;
    }

}